
body, html{
    height: 100%;
    margin: 0;
}



li{
    font-size: 16px;
}



footer {
  background-color: #000000;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.85;
}

#lebron{
    font: bold;
    color: rgb(8, 187, 8);
    size: 55px;
    border: red
}
#jordan{
    font: bold;
    color: blue;
    size: 55px;
    border: red
}
#kobe{
    font: arial;
    color:rgb(221, 224, 13);
    size: 55px;
    border: black
}


.skill{
    font-size: 20px;
}

.dash{
    background-color: rgb(245, 241, 241);
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1023px) {
    .bgimg-1{
        background-attachment: scroll;
        min-height: 0%;
        background-image: none;
        padding: 0;
    }
    .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7  {
        background-attachment: scroll;
        min-height: 0%;
        background-image: none;
        padding: 0;
    }
    .small-device-c-r{
        margin-right: 0% !important;
    }
    .small-device-c-l{
        margin-left: 0% !important;
    }

    .small-device-row{
        margin-top: 8% !important;
        margin-bottom: 8% !important;
    }

    h1{
      color: black;
      padding-right: 0px;
    }

}

@media only screen and (min-device-width: 1023px) and (max-width: 991px){
    .small-device-c-r{
        margin-right: 0% !important;
    }
    .small-device-c-l{
        margin-left: 0% !important;
    }
    
    #rpg, #trivia, #rutgers{
        width: 100%;
    }
    #hangman, #scissors{
        width: 40%;
        float: left;   
    }
    #triviaImage, #rutgersImage, #rpgImage{
        width: 100%;
        float: right;
    }

    #hangmanImage,#scissorsImage{
        width: 100%;
        float: left;
    }


    #hangmanText, #rpgText, #triviaText, #rutgersText, #scissorsText{
        width: 100%;
        clear: both;
        font-size: 100%;
    }

}

@media screen and (min-device-width: 1024px){
    .scroll{
        display: block;
    }
    
    
    .small-device-c-l{
        margin-left: 3%;
    }
    .small-device-c-r{
        margin-right: 4%;
    } 
    
    .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7{
        padding: 0;
    }
} 


@media screen and (max-width: 1225px){
    .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4, .bgimg-5, .bgimg-6, .bgimg-7 {
        background-size: 54.5% 100%;
    }
}
@media screen and (min-width: 2000px){
    #hangmanText, #rpgText, #triviaText, #rutgersText, #scissorsText{
        font-size: 300%;
    }
    a, .footer-text{
        font-size: 200%;
    }
    strong{
        font-size: 200%;
    }

    .navbar-brand{
        margin-top: 20px;
    }

    .nav.navbar-nav li.active a {
        padding: 30px;
    }
    .about, .projects, .contact{
       margin: 15px;
       margin-bottom: 0px;
    }

    .bgimg-7{
        font-size: 20px;
    }

    .skill{
        font-size: 40px;
    }

    .skill-set{
        width: 100%;
    }

    .glyphicon{
        font-size: 30px;
    }


} 
/* 
----------------------------------------------------------- */


html {
    height:100%;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: white;
    min-height: 100%;
}

.navbar {
  opacity: solid;   
}

.navbar-brand{
    font-size: 28px;
}

li{
    font-size: 16px;
}


.jumbotron{
    margin-bottom: 0px;
}

footer {
  background-color: #000000;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0.85;
}

.footer-text{
    font-size: 20px;
    color: white;
}

.up-arrow{
    color: darkgray;
    font-size: 40px;
}

@media screen and (max-width: 767px) {
  .row.content {height:auto;} 

  .center-picture{
      width: 100%;
  }

  .image-text{
    margin-left: 0px;
}
